<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/images/dpu.png" type="image/x-icon" />

    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrappage.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <style>
        body {
            background-color:darkgray;
            background-position-x:center;
            background-position-y:center;
        }
    </style>


    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/superfish.js"></script>
    <script src="~/Content/js/jquery.scrolltotop.js"></script>
    @RenderSection("css", required: false)

</head>
<body>


    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <img src="~/Content/images/logo.jpeg" width="80" height="80" top="20px" style="margin-right:100px;" />
            </div>
            <div class="span8">
               
                <div class="account pull-right">

                    <ul class="user-menu">

                        <li><a href="../Home/Index">Anasayfa</a></li>
                        <li><a href="../Cart/Index">Sepetim</a></li>
                        <li><a href="../Register/Index">Giriş Yap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        @* Navbar *@
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li><a href="../Book/Index">Tüm Kitaplar</a></li>
                        
                    </ul>
                </nav>
            </div>
        </section>
        @* Navbar *@

        @RenderBody()


        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li><a href="../Home/Index">Anasayfa</a></li>
                      
                        <li><a href="../Register/Index">Giriş Yap</a></li>
                    </ul>
                </div>
                <div class="span4">
                    
                </div>
                <div class="span5">
                    <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>

        <section id="copyright">
            <span>Copyright 2013 bootstrappage template  All right reserved.</span>
        </section>
    </div>

  
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 4000,
                    animationSpeed: 600,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });
    </script>




    @RenderSection("scripts", required: false)



</body>
</html>